@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Chat";
}
<br>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <h3>Online Users</h3>
                    <div id="usersList"></div>
                </div>
            </div>
            <div class="col-md-8">
                    <div id="messagesList"></div>
                    <div class="form-group">
                        <label>Enter Message</label>
                        <textarea id="messageInput"  class="form-control"></textarea>
                        <br>
                        <input type="button" class="btn btn-primary" id="sendButton" value="Send Message">
                    </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <div class="well">
        <p>Logged in as:</p>
        <p id="userName">@Context.Session.GetString("UserName")</p>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>