﻿@model Opdracht4Chat.Models.Login
@using Microsoft.AspNetCore.Http

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" asp-controller="Home" method="post" role="form" asp-action="Index" style="display: block;">
                                <div class="form-group">
                                    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus asp-for="Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required asp-for="Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" asp-controller="Home" method="post" role="form" asp-action="Register" style="display: none;">
                                <div class="form-group">
                                    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus asp-for="Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required asp-for="Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" required asp-for="ConfirmPassword">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/login.js"></script>